We're going to import pandas and geopandas and read and write some different files in.

In [1]:
import pandas as pd
import geopandas as gpd

First we're going to read in a csv that I have saved in the `data` folder for this project using pandas. This is a simple csv I generated with MySidewalk's seek tool showing total population from the most recent ACS 5-Year estimates for each county in the Nashville MSA.

In [3]:
population = pd.read_csv('../data/population_NashvilleMSACounties.csv')

In [4]:
population.head()

                 County  Population
0   Cheatham County, TN       40181
1   Davidson County, TN      687488
2  Robertson County, TN       70280
3      Maury County, TN       91976
4    Dickson County, TN       52680

In [5]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   County      13 non-null     object
 1   Population  13 non-null     int64
dtypes: int64(1), object(1)
memory usage: 336.0+ bytes

In [6]:
population.shape

(13, 2)

### Say that all we wanted to do was create a column that displayed the total percent population per county then export it....

##### First, create the variable we need to do this calculation

In [11]:
#create a total population variable

#we're naming the variable on the left, using the python function "sum", and in parenthesis stating the dataframe, then the column we're summing in square brackets
#we know we can sum the column because we already established it is an integer datatype above
totalpop = sum(population['Population'])

In [12]:
totalpop

1871903

##### Now we want to create a column for percent of total population per county

In [25]:
#we're creating a new column called Percent in the df and setting it equal to the rounded (to two digits) result of the respective population columns/total
population['Percent'] = round(population['Population']/totalpop,2)

In [23]:
population

                   County  Population  Percent
0     Cheatham County, TN       40181     0.02
1     Davidson County, TN      687488     0.37
2    Robertson County, TN       70280     0.04
3        Maury County, TN       91976     0.05
4      Dickson County, TN       52680     0.03
5       Cannon County, TN       14178     0.01
6   Rutherford County, TN      315815     0.17
7        Smith County, TN       19740     0.01
8       Sumner County, TN      183437     0.10
9       Wilson County, TN      136666     0.07
10   Trousdale County, TN       10231     0.01
11  Williamson County, TN      225389     0.12
12       Macon County, TN       23842     0.01

In [24]:
#check - we know the .01 is due to the rounding we did, which is fine here
print(sum(population['Percent']))

1.01

#### Write it!

In [27]:
population.to_csv('../data/popwithpercent.csv')
#if you check this file you'll notice that the index (numbering on the left from 0- all data rows) is in the csv. To take this out write like below then re-open
#the file you've overwritten to check
population.to_csv('../data/popwithpercent.csv', index = False)

In [30]:
population.to_excel('../data/popwithpercent.xlsx', index = False)